<div class="container">
  <h1>Shopping Cart</h1>
  <hr />
  <div class="cart">
    <div class="products">
      <div class="product" *ngFor="let item of cart; let i = index">
        <div class="product-image">
          <img src="{{ item.images[2] }}" />
        </div>
        <div class="product-info">
          <h3 class="product-name">{{ item.title }}</h3>
          <h4 class="product-publisher">by {{ item.publisher }}</h4>
          <h5 class="paperback">Paperback</h5>
          <h5 style="color: green" class="stock">In stock</h5>
          <div class="product-quantity">
            <p class="product-qty">
              Qty:
              <select (change)="changeQuantity($event, i)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </p>
            <div class="siz">|</div>
            <div class="product-delete" (click)="deleteItem(i)">Delete</div>
            <div class="siz">|</div>
            <div class="product-route">See Similar Books</div>
          </div>
        </div>
        <div class="product-price">₹{{ item.price * item.quantity }}</div>
      </div>

      <div class="cart-total">
        SubTotal ({{ cart.length }} items): ₹{{ subTotal }}.00
      </div>
    </div>

    <div class="show-final-price-container">
      <div class="inputfield terms">
        <label class="check">
          <input type="checkbox" (click)="applyDiscount()" />
          <span class="checkmark"></span>
        </label>
        <p style="color: #49c5b6">30% off on Promocode</p>
      </div>
      <p>
        <span>Total items : </span>
        <span>{{ cart.length }}</span>
      </p>
      <p>
        <span>Total : </span>
        <span>₹ {{ total }}</span>
      </p>

      <div class="proceed-to-checkout" (click)="setToPaymentVariable()" routerLink="/cart/payment">
        Proceed to Checkout
      </div>
    </div>
    <!--  -->
  </div>
</div>
