<div class="payment">
  <div class="paymOption">
    <p>Choose Payment Options</p>
    <div class="method">
      <div class="options">
        <p class="upiPara" (click)="showBlock('a')">Pay Using UPI</p>
        <p class="dcPara" (click)="showBlock('b')">Debit Card</p>
        <p class="ccPara" (click)="showBlock('c')">Credit Card</p>
        <p class="walletPara" (click)="showBlock('d')">Wallets</p>
        <p class="ibPara" (click)="showBlock('e')">Internet Banking</p>
        <p class="emiPara" (click)="showBlock('f')">EMI or Pay Later</p>
        <p class="codPara" (click)="showBlock('g')">Cash On Delivery</p>
      </div>
      <div class="process" [ngSwitch]="selectedNumber">
        <div class="upi" *ngSwitchCase="'a'">
          <p>Please enter your UPI ID</p>
          <div>
            <img src="https://img1.hkrtcdn.com/1179/paytm-upi.png" alt="" />
            <br />
            <input class="inp" type="text" placeholder="MobileNumber@upi" />
            <button class="btn1">Verify</button>
            <p class="valclass">Please enter a valid UPI ID</p>
            <br />
            <input type="checkbox" />
            <span>Securely saved for faster payments</span>
            <br />
            <button class="btn2">Pay Securely</button>
          </div>
        </div>
        <div class="debitCard" *ngSwitchCase="'b'">
          <div>
            <p>Enter Card Details</p>
            <input
              class="inputCard"
              type="text"
              placeholder="Card holder name"
            />

            <input class="inputCard" type="text" placeholder="Card Number" />

            <select class="expiry" name="" class="">
              <option value="Expiry MM">Expiry MM</option>
            </select>

            <select class="expiry" name="" class="">
              <option value="Expiry YY">Expiry YY</option>
            </select>

            <input class="cvv" type="text" placeholder="CVV" />
            <input type="checkbox" />
            <span>Securely saved for faster payments</span>

            <div>
              <img src="https://img1.hkrtcdn.com/1718/RuPay-Icon.png" alt="" />
              <img
                src="https://s3-ap-southeast-1.amazonaws.com/hkprod/13831/normal_1383075_o.png"
                alt=""
              />
              <img
                src="https://s3-ap-southeast-1.amazonaws.com/hkprod/13831/normal_1383073_o.png"
                alt=""
              />
              <img
                src="https://s3-ap-southeast-1.amazonaws.com/hkprod/payment_img/card/ic_maestro.png"
                alt=""
              />
              <img
                src="https://s3-ap-southeast-1.amazonaws.com/hkprod/payment_img/card/Maestro_logo.png"
                alt=""
              />
            </div>
            <button class="paymentBtn">Pay Securely</button>
          </div>
        </div>
        <div class="creditCard" class="nA" *ngSwitchCase="'c'">
          NOT AVAILABLE
        </div>
        <div *ngSwitchCase="'d'" class="wallet" class="nA">NOT AVAILABLE</div>
        <div *ngSwitchCase="'e'" class="iBanking" class="nA">NOT AVAILABLE</div>
        <div *ngSwitchCase="'f'" class="emi" class="nA">NOT AVAILABLE</div>
        <div class="cod" *ngSwitchCase="'g'">
          <div>
            <div>
              <div></div>
            </div>
            <span>CASH ON DELIVERY</span>
          </div>
          <div>
            <ul>
              <li>You will not earn any Cash through COD</li>
              <li>Pay through online and earn ₹20 Cash</li>
              <li>For order below ₹500, we charge ₹30 for COD</li>
            </ul>
            <p>Your delivery address seems incomplete or invalid.</p>
            <p>Please enter a valid address.</p>

            <h4>Sure about the address?</h4>
            <p>
              <input class="codCheckbox" type="checkbox" />
              <span
                >Check the box here to confirm & complete your purchase through
                Cash On Delivery option.</span
              >
            </p>
            <p>
              Avoid out of cash & change problems. Use Credit/Debit card,
              Internet banking, Wallets or UPI for convenient experience.
            </p>
            <p>
              HK Cash is not valid on Cash on Delivery orders. Use Prepaid
              Payment Mode to Earn & Redeem HK Cash.
            </p>
            <button class="codButton" (click)="toggle()">Pay Later</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="paymPrice">
    <div>
      <h3>Address</h3>
      <p class="addDel"></p>
      <strong class="nameFirst">username</strong>
      <p class="fullAddress">NM-398 wcl colony nagpur</p>
      <p class="phone">9766984527</p>
    </div>
    <div>
      <h3>Order Summary</h3>

      <p>
        Total MRP <span class="total">₹ {{ finalTotal }}</span>
      </p>
      <p><span class="dis"></span></p>
      <p>Shipping Charges ₹ 00.00</p>
      <hr />
      <p>
        Final Payable <span class="finalAmount"> ₹ {{ finalTotal }}</span>
      </p>
    </div>
  </div>
</div>

<div class="thankyou" *ngIf="finalPayment">
  <h3>Congratulations! You Have Successfully Made Your Order</h3>
  <div>Your Order ID: <span class="orderNo"></span></div>
  <p>Thank You!</p>
  <div>Be Safe, Be Healthy</div>
  <button class="thankBtn">Continue Shopping</button>
</div>
