<div id="home-com">
  <div id="banner1"></div>
  <div id="banner2">
    <img src="../../assets/banner2.png" alt="" srcset="" />
  </div>
  <div id="genre-card">
    <h2>Books in your favourite genre</h2>
    <div id="book-cards">
      <div class="book-card"  routerLink="allbooks"  [state]="{ val: 'horror', val2: 0 }">
        <img src="../../assets/card1.jpeg" alt=""  />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'crime', val2: 0 }">
        <img src="../../assets/card2.jpeg" alt="" srcset="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'romance', val2: 0 }">
        <img src="../../assets/card3.jpeg" alt="" srcset="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'horror', val2: 0 }">
        <img src="../../assets/card4.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'indianWriting', val2: 0 }">
        <img src="../../assets/card5.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'indianWriting', val2: 0 }">
        <img src="../../assets/card6.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'biology', val2: 0 }">
        <img src="../../assets/card7.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'economic', val2: 0 }">
        <img src="../../assets/card8.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks"  [state]="{ val: 'selfhelp', val2: 0 }">
        <img src="../../assets/card9.jpeg" alt="" />
        <p>Shop now</p>
      </div>
    </div>
  </div>
  <div id="genre-card">
    <h2>Books in your budget</h2>
    <div id="book-cards2">
      <div
        class="book-card"
        routerLink="allbooks"
        [state]="{ val: 299, val2: 0 }"
      >
        <img src="../../assets/Dis_1.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div
        class="book-card"
        routerLink="allbooks"
        [state]="{ val: 399, val2: 0 }"
      >
        <img src="../../assets/Dis_2.jpeg" alt="" srcset="" />
        <p>Shop now</p>
      </div>
      <div
        class="book-card"
        routerLink="allbooks"
        [state]="{ val: 499, val2: 1 }"
      >
        <img src="../../assets/Dis_3.jpeg" alt="" srcset="" />
        <p>Shop now</p>
      </div>
      <div
        class="book-card"
        routerLink="allbooks"
        [state]="{ val: 500, val2: 1 }"
      >
        <img src="../../assets/Dis_4.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div
        class="book-card"
        routerLink="allbooks"
        [state]="{ val: 1000, val2: 3 }"
      >
        <img src="../../assets/Dis_5.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div
        class="book-card"
        routerLink="allbooks"
        [state]="{ val: 100000, val2: 5 }"
      >
        <img src="../../assets/dis_card7.jpeg" alt="" />
        <p>Shop now</p>
      </div>
    </div>
  </div>
  <div id="genre-card">
    <h2>Read books in your mother tongue</h2>
    <div id="book-cards">
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'hindi' }">
        <img src="../../assets/lang9.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'telgu' }">
        <img src="../../assets/lang8.jpeg" alt="" srcset="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'telgu' }">
        <img src="../../assets/lang7.jpeg" alt="" srcset="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'gujrati' }">
        <img src="../../assets/lang6.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card">
        <img
          src="../../assets/lang5.jpeg"
          alt=""
          routerLink="allbooks"
          [state]="{ val: 'bangla' }"
        />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'english' }">
        <img src="../../assets/lang4.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card">
        <img src="../../assets/lang3.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'marathi' }">
        <img src="../../assets/lang2.jpeg" alt="" />
        <p>Shop now</p>
      </div>
      <div class="book-card" routerLink="allbooks" [state]="{ val: 'english' }">
        <img src="../../assets/lang1.jpeg" alt="" />
        <p>Shop now</p>
      </div>
    </div>
  </div>
</div>
