<div class="contact-detail">
  <div class="header-details">
    <div id="contact-fullname">
      <img src="../../assets/user.png" alt="" />
      <h3>{{ userData.username }}</h3>
    </div>
    <div id="edit-box">
      <div id="edit-pen"></div>
      <div id="delete"></div>
    </div>
  </div>
  <div
    class="contact-header"
    style="flex: 0 0 63px; left: 0px; right: 0px; bottom: 0px; width: 100%"
  >
    <svg viewBox="0 0 980 63">
      <path
        d="M 0,0 C117.99199999999999,40 280.28,62 490,62S861.91,40 980,0"
        fill="#ffff"
        stroke="#99a1a6"
      ></path>
    </svg>
  </div>
  <div id="user-other-detail">
    <div class="other-con">
      <img src="../../assets/email.png" />
      <p id="other-con">{{ userData.email }}</p>
    </div>
    <div class="other-con">
      <img src="../../assets/telephone.png" />
      <p class="outer-mob">{{ userData.mobileno }}</p>
    </div>
    <div class="other-con">
      <img src="../../assets/userrole.png" />
      <p class="outer-mob">{{ userData.role }}</p>
    </div>
  </div>
</div>
