<footer>
  <div class="linkSub-holder">
    <div class="link-holder">
      <div class="linkSection">
        <div class="linkHeader">Book Factory MarketPlace</div>
        <div class="link">About Us</div>
        <div class="link">Careers</div>
        <div class="link">Sell With Us</div>
        <div class="link">Terms Of Use</div>
        <div class="link">Privacy Policy</div>
        <div class="link">Affiliates</div>
        <div class="link">Sitemap</div>
      </div>
      <div class="linkSection">
        <div class="linkHeader">Customer Services</div>
        <div class="link">Shopping</div>
        <div class="link">Frequently Asked Questions</div>
        <div class="link">Offers & Promotions</div>
        <div class="link">Payments</div>
        <div class="link">Cancellation</div>
        <div class="link">Returns & Refunds</div>
        <div class="link">Return To Store</div>
        <div class="link">Electronics Return Policy</div>
        <div class="link">Contact Us</div>
        <div class="link">Reviews Guidelines</div>
      </div>
      <div class="linkSection">
        <div class="linkHeader">My Book Factory</div>
        <div class="link">My Account</div>
        <div class="link">My Order</div>
        <div class="link">My Shopping Bag</div>
        <div class="link">My Wishlist</div>
      </div>
      <div class="emailBox">
        <h4 class="linkHeader" style="text-align: center">
          Suggestion Or Complains
        </h4>
        <div style="width: 70%; margin-left: auto; margin-right: auto">
          <textarea
            class="textarea"
            type="text"
            name="textholder"
            placeholder="Enter your Suggestion here "
            #SuggestionBox
          >
          </textarea>
        </div>
        <div style="width: 80%; margin-left: auto; margin-right: auto">
          <button
            class="emailboxBtn"
            (click)="suggestionBoxContaint(SuggestionBox)"
          >
            Send Mail
          </button>
        </div>
      </div>
    </div>
    <div class="news"></div>
  </div>
  <div class="containers">
    <div class="social-holder">
      <div class="downloadApp">
        <div class="download-text">Download App</div>
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/android.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/apple.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
      </div>
      <div class="social-icon-holder">
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/facebook.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/twitter.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/insta.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/youtube.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
        <a href="#">
          <div class="appIconHolder">
            <div
              class="icon-image"
              style="
                background-image: url(../../assets/linkedin.png);
                background-size: contain;
              "
            ></div>
          </div>
        </a>
      </div>
      <div class="copy-right-text">
        © 2022 BOOK FACTORY | All rights reserved
      </div>
    </div>
  </div>
</footer>
